body {
        background-color: black;
        color: #ccc;
        width: fit-content;     
}
    

.body-ok{
    fill: green
}

.body-danger{
    fill:red
}

.human-body-container{
    height: 75vh;
}
.human-body-container svg{
    height: 100%;
    width: auto;
}
.human-body-card{
    height: 75vh;
}


.right{
    float: right;
    padding: 0 10px 0 5px;
    display: flex;
    flex-direction: column;
    min-width: 40%;
    
}
.right div:first-of-type {
    margin-top: 0!important;
}
.right > div{
    margin: 3px;
}


.panel-container{
    display: flex;
}

.btn-custom{
    border-radius: 0;
    background-color:#3700b3;
}

.status-bar{
    display: flex;
    flex-direction: row;
    justify-content: start
}

.battery{
    font-size: 1.2rem
}

#battery-percentage{
    font-size: 1rem;
}
.card{
    background-color: #202020;
    border-radius: 0;
}


h1 span{
    font-size: 1.5rem;
    font-weight: 700;
}

.date{
    font-size: 0.9rem;
}


.status-bar .card{
    margin-right: 5px;
    min-width: 20%;
}